body, h1, h2, h3, h4, p, ul, li, form, input, select, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #376486;
    color: #fff;
    text-align: center;
    padding: 7px 0;
}

h1 {
    font-size: 24px;
}

form#userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

section#pnExame {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 5px;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
